<h1>
  <%= @project.name %>
</h1>

<h2>
  Material: <%= @project.material %>
</h2>

<h2>
  Challenge Theme: <%= @project.challenge.theme %>
</h2>

<h2>
  Number of Contestants: <%= @project.num_contestants %>
</h2>

<h2>
  Average Contestant Experience: <%= @project.average_contestant_exp %>
</h2>
